.envrc
secrets/*json
processed_messages.json
data/*
.langchain-cache.db
credentials.json
token.json
.cache
debug*html
debug*png
playwright-*-chrome
.aider*history*
.aider*cache*
.coverage
htmlcov
screenshots/*
test_dir

# Troubleshooting images from screen scraping
*not_visible.png

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
venv/
ENV/

# Node/NPM
node_modules/
.npm/
.npm-cache/
coverage/
.vitest/

# IDE
.idea/
.vscode/
*.swp
*.swo


*.ipynb_checkpoints/
