anthropic
black
black[jupyter]
beautifulsoup4
colorama
diskcache
flake8
freezegun
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain_anthropic
langchain_chroma
langchain_community
langchain_openai
matplotlib
mypy
openai
pandas
playwright
pydantic
pylsp-mypy
python-lsp-server
python-lsp-black
pyramid
pyramid_debugtoolbar
pytest
python-dateutil
python-slugify
requests
scikit-learn
tavily-python
ulid-py

#####################
# TYPE STUBS FOR MYPY
#####################

types-colorama
types-python-dateutil
types-requests
pandas-stubs

#####################
# NO - these are deps
#####################

# Mako
# MarkupSafe
# PasteDeploy
# PyYAML
# SQLAlchemy
# aiohappyeyeballs
# aiohttp
# aiosignal
# annotated_types
# anyio
# asttokens
# attrs
# backoff
# bcrypt
# bs4
# build
# cachetools
# certifi
# charset_normalizer
# chromadb
# click
# coloredlogs
# contourpy
# dataclasses-json
# decorator
# distro
# docstring-to-markdown
# durationpy
# executing
# filelock
# flatbuffers
# fonttools
# frozenlist
# fsspec
# google-api-core
# google-auth
# googleapis-common-protos
# greenlet
# grpcio
# h11
# hf-xet
# httpcore
# httplib2
# httptools
# httpx
# httpx-sse
# huggingface-hub
# humanfriendly
# hupper
# idna
# importlib-metadata
# importlib-resources
# ipython
# ipython-pygments-lexers
# jedi
# jiter
# joblib
# jsonpatch
# jsonpointer
# jsonschema
# jsonschema-specifications
# kiwisolver
# kubernetes
# langchain
# langchain-core
# langchain-text-splitters
# langsmith
# legacy-cgi
# markdown-it-py
# marshmallow
# matplotlib-inline
# mccabe
# mdurl
# mmh3
# mpmath
# multidict
# mypy-extensions
# numpy
# oauthlib
# onnxruntime
# opentelemetry-api
# opentelemetry-exporter-otlp-proto-common
# opentelemetry-exporter-otlp-proto-grpc
# opentelemetry-proto
# opentelemetry-sdk
# opentelemetry-semantic-conventions
# orjson
# overrides
# parso
# pathspec
# pexpect
# plaster
# plaster-pastedeploy
# platformdirs
# pluggy
# posthog
# prompt_toolkit
# propcache
# proto-plus
# protobuf
# ptyprocess
# pure-eval
# pyasn1
# pyasn1-modules
# pybase64
# pycodestyle
# pydantic-settings
# pydantic_core
# pyee
# pyparsing
# pypika
# pyproject_hooks
# pyramid-mako
# python-dotenv
# python-lsp-jsonrpc
# pytz
# referencing
# regex
# requests-oauthlib
# requests-toolbelt
# rich
# rpds-py
# rsa
# scipy
# setuptools
# shellingham
# sniffio
# soupsieve
# stack_data
# sympy
# tenacity
# threadpoolctl
# tiktoken
# tokenize-rt
# tokenizers
# tqdm
# traitlets
# translationstring
# typer
# types-pytz
# typing-inspect
# typing_extensions
# typing_inspection
# tzdata
# ujson
# uritemplate
# urllib3
# uvicorn
# uvloop
# venusian
# watchfiles
# wcwidth
# webob
# websocket-client
# websockets
# yarl
# zipp
# zope.deprecation
# zope.interface
# zstandard
