google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.159.0
langchain==0.3.15
langchain-core==0.3.31
langchain-openai==0.3.1
langchain-anthropic==0.3.3
langchain-community==0.3.15
tavily-python==0.5.0
langchain-text-splitters==0.3.5
chromadb==0.5.23
langchain-chroma==0.2.0
pylsp-mypy==0.6.9
beautifulsoup4==4.12.3
lxml==5.3.0
playwright==1.50.0
diskcache==5.6.3
colorama==0.4.6
pyramid==2.0.2
pyramid_debugtoolbar==4.12.1
requests==2.32.3
bs4==0.0.2
pydantic==2.10.4
pytest==8.3.5
black==25.1.0
flake8==7.1.2
coverage==7.6.12
freezegun==1.5.1
python-slugify==8.0.4
pandas==2.2.3
scikit-learn==1.6.1
jupyter==1.1.1
jupyterlab==4.4.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
ulid-py==1.1.0
